h1{
    color:blue
}

.my-second-paragraph{
    color: brown;
}

.my-paragraph-id {
    color:pink;
}

h1,
p { 
    color:darkmagenta
}
.my-button-id{
    background-color: black;
    color: aliceblue;
}   

.my-button{
    color:green
}
